.rc-slider-mark-text {
    color: white
}

.rc-slider-mark-text-active {
    color: rgb(9, 212, 53)
}

.rc-slider-track {
    background-color: rgb(9, 212, 53)

}

/* .legendtext {
    font-size: 8px !important
} */

.pretty_container {
    border-radius: 5px;
    background-color: rgb(44, 158, 15);
    margin: 5px;
    padding: 15px;
    position: relative;
    box-shadow: 2px 2px 2px rgb(255, 255, 255);
  }

.pretty_container1 {
border-radius: 5px;
background-color: rgb(44, 158, 15);
/* margin: 5px; */
/* padding: 15px; */
position: relative;
box-shadow: 3px 3px 3px rgb(255, 255, 255);
}

